<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="header-title">
      Bienvenido a su portal IoT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-bg">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="header-title">Portal IoT</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="content-container">
    <h2 class="welcome-message">Administre sus dispositivos IoT fácilmente</h2>
    <ion-list>
      <ion-item class="device-link">
        <a routerLink="/listado-dispositivos" routerLinkActive="active" ariaCurrentWhenActive="page">Ver mis
          dispositivos</a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>