<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles del dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dispositivo</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <button (click)="subscribe()">Subscribe</button>
  <button (click)="unsubscribe()">Unsubscribe</button> -->
</ion-content>

<ion-content>
  <div *ngIf="dispositivos">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ dispositivos.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Ubicación:</strong> {{ dispositivos.ubicacion }}</p>
        <p><strong>Electrovalvula ID:</strong> {{ dispositivos.electrovalvulaId }}</p>
        <p><strong>Humedad:</strong> {{valorRandom }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!dispositivos">
    <ion-text>
      <h2>Cargando dispositivo...</h2>
    </ion-text>
  </div>
</ion-content>